
body{
    background-color: white;
    font-family: monospace;
   
}
.background-image {
    background-image: url('../img/img_background.jpg');
    background-repeat: no-repeat; /* doesn't repeat the background (one image) */
    background-size: cover; /* stretches background across whole page  */  
  }
h1{
    font-size: 40px;
    color: rgb(113, 134, 36);
    text-align: center;
}

.fullCard {
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    border-radius: 5px;
    margin: 150px;
    padding: 4px; 
    color: black;
    font-size: 16px;
    word-wrap: break-word;
    box-shadow: 0 10px 10px 0 rgb(63, 63, 63), 0 15px 15px 0 grey;
  }
  .cardContent {
    padding: 10px;
  }

/* MUST MAKE PAGES RRESPONSIVE!!!! */

pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
}
ul{
    font-family: monospace;
    font-size: 20px;
    color: black;
}

.smaller-image {
    width: 500px;
}

.larger-image{
    width: 500px;
}

.btn { 
    width: 20%;

    background-color: #cad5d9;
    display:inline-block;
    padding: 20px;
    font-size: 16px;
    font-family: monospace;
    color: black; 

    border-color: rgb(94, 93, 93);
    border-style: solid;
    border-width: 1px;
    padding: 15px 25px 15px 15px;
    text-align: center;
    margin:0px 20px 20px 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:16px;

    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}


.btn:hover{
    background-color: rgb(113, 134, 36);
}


#summary1{
    text-align: left;
    margin: auto;
    padding: 20px;
}

#startButton{
    margin: 20px 20px 20px 30px; 

  }

  .center {
    margin: auto;
    width: 5%;
    }


    .wrapper {
  
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
    }
    
    .animated-check {
        height: 5em;
        width: 5em
       
    }
    
    .animated-check path {
        fill: none;
        stroke: #7ac142;
        stroke-width: 4;
        stroke-dasharray: 23;
        stroke-dashoffset: 23;
        animation: draw 1s linear forwards;
        stroke-linecap: round;
        stroke-linejoin: round
    }
    
    @keyframes draw {
        to {
            stroke-dashoffset: 0
        }
    }