
body{    

    background-color: white;
    font-family: monospace;
}

.background-image {
    background-image: url('../img/jakob-owens-dO8qMqWimo8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

h1{
    font-size: 40px;
    color: rgb(5, 3, 100);
    text-align: center;
}

p{
    padding-left: 1cm;
    padding-right: 1cm;
    color: black; 
    /* text-align: center; */
}

pre{
    padding-left: 10%;
    font-size: 17.5px;
    color: black;
}

.fullCard {
    background-color: rgb(247, 247, 247);
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 16px;
    padding-bottom: 2%; 
    padding-top: 0cm;

    font-size: 17.5px;
    width : 80%;
    box-shadow: 0 7.5px 7.5px 0 grey, 0 15px 15px 0 rgba(4, 4, 212, 0.633);
    vertical-align: middle;
    margin-left: 8.5%;
    margin-right: 3%;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    z-index: 1;

  }
  .cardContent {
    padding: 10px;
  }

  .btn { 
    background-color: #cad5d9;
    text-decoration:none;
    display:inline-block;
    color:black;
    padding: 20px;
    font-size: 18px;
    font-family: monospace;
    color: black; 
    padding: 15px 25px 15px 15px;
    border-color: rgb(94, 93, 93);
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin:0px 20px 20px 30px;
     
    border-radius:16px;
    border-color: rgb(94, 93, 93);
    border-style: solid;
    border-width: 2px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    flex-wrap: wrap;
}
.btn:hover{
    background-color: aquamarine;
}

